.kaufman {
  display: flex;
  position: relative;
  box-sizing: content-box;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  flex-direction: column;
  text-align: center;
  color: #fff;
  overflow: hidden;
}